@layer utilities {
  .download.download--action\:button:not(.download--action\:link) {
    .cmp-download__action {
      @apply inline-flex items-center p-3 px-6 font-bold uppercase transition-opacity bg-black text-fill text-text-accent;
      @apply hover:bg-opacity-100;

      &::before {
        @apply block w-5 h-5 mr-3 bg-white;
        content: '';
        mask-size: 100%;
        mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16"> <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/> <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/> </svg>');
      }
    }
  }
}