@layer base {
  .cmp-form {
    column-gap: var(--column-gap, var(--gap, 0));
    row-gap: var(--row-gap, var(--gap, 0));
    gap: var(--gap, var(--gap, 0));
    box-shadow: var(--box-shadow,none);
  }
}

@layer components {
  .container.form\:flex > .cmp-form > * { @apply w-auto; }
}